@font-face {
	font-family: Alexandra;
	src: url(../fonts/alexandra-zeferino-two.ttf);
}

@font-face {
	font-family: avangardgothik;
	src: url(../fonts/AvantGardeGothicC.otf);
}

body {
	color: black;
	background: url("../img/body_bg2.jpg");
	background-size: cover;
	max-height: 100vh;
	height: 100vh;
}

.color_1 {
	background-color: #F19084;
}

.main_margin {
	padding-right: 2vh;
	padding-left: 2vh;
}

.menu_style {
	margin-left: -5.4vw;
}

.well {
	background: rgba(255, 255, 255, .75);
	border-radius: 0;
	margin-top: 2vh;
	margin-bottom: 0;
	max-height: 96vh;
	height: 96vh;
	overflow-y: auto;
	overflow-x: hidden;

}

.bord {

	margin: 0 auto;
	width: 100%;
	border-top: 2px solid #f19084;
}

.bord3 {
	width: 110%;
	border-top: 2px solid #f19084;
}

.logo_font {
	margin-top: 2vh;
	color: black;
	font-family: Alexandra;
	font-size: 4.5em;
}

.astro_style {
	color: #e31e09;
	margin-top: 2vh;
	font-style: italic;
	font-size: 1.5em;
	font-family: "Times New Roman";
}

.photo {
	opacity: 1;
}

.citata {
	margin-top: 2vh;
	color: black;
	font-family: Alexandra;
	font-size: 2.5em;

}

.text {
	font-weight: bold;
	font-size: 1em;
	margin: 15px 0;
}

.red {
	color: #e31e09;
}

.fade {
	display: none;
}

.fade.in {
	display: block;
}

.glyphicon-fast-backward {
	margin-bottom: 6vh;
	margin-right: 5vw;
}

.arrow_style {
	margin-top: 7vh;
	color: #e31e09;
	font-size: 1em;
}

.header_style {
	color: #e31e09;
	font-size: 1.5em;
	margin-top: 3vh;
	margin-bottom: 2vh;
}

.glyphicon-forward {
	margin-left: 1vw;
}

.consult_margin {
	margin-top: 51vh;
}

.nav-tabs {
	font-weight: 500;
	border-color: transparent;
	margin-top: 3vh;
	margin-bottom: 3vh;
	font-family: "avangardgothik";
	font-size: 1.5em;
}

.nav-tabs:hover {
	border-color: transparent;
	margin-top: 3vh;
	margin-bottom: 3vh;
	font-family: "avangardgothik";
	text-decoration: none;
	font-size: 1.5em;
}

a {
	background-color: transparent;
	color: black;
}

a:hover {
	background-color: transparent;
	color: black;
}

.nav-tabs > li > a:hover {
	background-color: transparent;
	border-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	margin-left: 1.6vw;
	color: red;
	background-color: transparent;
	border-color: transparent;
}

.nav-tabs > li > a {
	margin-left: 1.6vw;
	padding-top: 7px;
}

.block_element_1 {
	height: 9vh;
}

.block_element_2 {
	height: 13vh;
}

.news_header {
	font-size: 1.5em;
}

.news_link > a {
	color: #7a8072;
}
