
@font-face {
	font-family: Alexandra;
	src: url(../fonts/alexandra-zeferino-two.ttf);
}
@font-face {
	font-family: Carolina;
	src: url(../fonts/carolina.ttf);
}
@font-face {
	font-family: note;
	src: url(../fonts/ds_note.ttf);
}

@font-face {
	font-family: avangardgothik;
	src: url(../fonts/AvantGardeGothicC.otf);
}
::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #F19084; }
::-webkit-scrollbar-track {  background-color: #F19084;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #F19084; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #666;}

body {
	color: black;
	background: url('../img/body_bg1.jpg');
	background-repeat: repeat-y;
	background-size:  100vw auto ;
	max-height: 100vh;
	height: 100vh;

}

.color_1 {
	background-color: #F19084;
}

.main_margin {
	padding-right: 2vh;
	padding-left: 2vh;
}



.well {
	background: rgba(255, 255, 255, .75);
	border-radius: 0;
	margin-top: 2vh;
	margin-bottom: 0;
	max-height: 96vh;
	height: 96vh;
	overflow-y: auto;
	overflow-x: hidden;
}


.bord {
	margin: 0 auto;
	width: 100%;
	border-top: 2px solid #f19084;
}

.bord3 {
	width: 110%;
	border-top: 2px solid #f19084;
}
.menu_style{
	margin-left: -3vw;
}
.menu_style_news{
	margin-left: -1vw;
}

.logo_font {
	margin-top: 5.5vh;
	color: black;
	font-family: note;
	font-size: 3.4em;
	margin-bottom: 0;
}

.astro_style {
	font-weight: 600;
	margin-bottom: 7vh;
	color: #e31e09;
	font-size: 1em;
	font-family: avangardgothik;
	margin-top: -2px;
}

.photo {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.citata {
	margin-top: 2vh;
	color: black;
	font-family: Alexandra;
	font-size: 3em;

}

.text {
	font-weight: 600;
	font-size: 1.2em;
	margin: 15px 0;
}

.red {
	color: #e31e09;
}

.fade {
	display: none;
}

.fade.in {
	display: block;
}

.glyphicon-fast-backward {
	margin-bottom: 6vh;
	margin-right: 5vw;
}

.arrow_style {
	margin-top: 7vh;
	color: #e31e09;
	font-size: 1em;
}

.header_style {
	color: #e31e09;
	font-size: 1.5em;
	margin-top: 3vh;
	margin-bottom: 2vh;
}
.header_style_consult {
	color: #e31e09;
	font-size: 1.5em;
	margin-top: 2.5vh;
	margin-bottom: 2vh;
}

.glyphicon-forward {
	margin-left: 1vw;
}

.consult_margin {
	margin-top: 55vh;
}

.nav-tabs {
	font-weight: 500;
	border-color: transparent;
	margin-top: 3vh;
	margin-bottom: 3vh;
	font-family: "avangardgothik";
	font-size: 1.5em;
}

.nav-tabs:hover {
	border-color: transparent;
	margin-top: 3vh;
	margin-bottom: 3vh;
	font-family: "avangardgothik";
	text-decoration: none;
	font-size: 1.5em;
}

a {
	background-color: transparent;
	color: black;
}

a:hover {
	background-color: transparent;
	color: black;
}

.nav-tabs > li > a:hover {
	background-color: transparent;
	border-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	margin-left: 1.6vw;
	color: red;
	background-color: transparent;
	border-color: transparent;
}

.nav-tabs > li > a {
	margin-left: 1.6vw;
	padding-top: 7px;
}

.block_element_1 {
	height: 9vh;
}

.block_element_2 {
	height: 9vh;
}
.block_element_3 {
	height: 14vh;
}
.block_element_4 {
	height: 19vh;
}
.block_element_4_contacts{
	height: 24.5vh;
}
.block_element_5 {
	height: 5vh;
}
.block_element_6 {
	height: 5vh;
}
.block_element_6_history {
	height: 0.5vh;
}
.block_element_7_history{
	margin-top: 2vh;
}
.block_element_8_news{
	height: 2vh;
}
.block_element_9_consult{
	height: 6.5vh;
}


.news_header {
	font-size: 1.5em;
}

.news_link > a {
	color: #7a8072;
}
.first_marg{
	margin-top: 2vh;
	margin-bottom: 10px;
}

.text_marg{
	margin-top: 4vh;
	margin-bottom: 10px;
}
.contacts{
	margin-top: 5vh;
	margin-bottom: 5vh;
	font-size: 1.8em;
}
.margin_text_column_left{
	padding-left: 0;
	margin-left: -2vw;
	padding: 0;
}
.margin_text_column_right{
	padding-right: 0;
}
.history_text{
	font-size: 1.5em;
	font-family: "Calibri", sans-serif;
}
.consult_text{
	font-size: 1.2em;
	font-family: "Calibri", sans-serif;
}
.contacts_text{
	font-size: 1em;
	font-family: "Calibri", sans-serif;
}
.news_text{
	font-size: 1.2em;
	font-family: "Calibri", sans-serif;
}
.oplata_text{
	font-size: 1.2em;
	font-family: "Calibri", sans-serif;
}
.oplata{
	font-size: 1.5em;
	font-family: "Calibri", sans-serif;
}
.oplata_left{
	margin-top: 10vh;
}
.blue{
	color: blue;
}